input{
    width:70%;
}
.purchaseTBL{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: rgba(246, 247, 248, 0.4);
border-radius: 20px;

    margin: auto;
    margin-top: 3rem;
    width: 80%;
}
td{
    border: 1px solid black;
}

tbody{
    background-color: aliceblue;
}
thead,tfoot{
    color: white;
    background-color: rgb(45, 45, 45);
}